<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
  <p> The @Model.Color Dragon is the @Model.Superlative Dragon of all.</p>
  <p> It has @Model.Adjective @Model.BodyParts, and a @Model.BodyPart shaped like a @Model.Noun.</p>
  <p> It loves to eat @Model.Animal, although it will feast on nearly anything.</p>
  <p> It is @Model.Adjective2 and @Model.Adjective3.</p>
  <p> You must be @Model.Adjective4 around it, or you may end up as it`s meall.</p>
  </body>
</html>

<!-- 
Color
SUPERLATIVE (ENDING IS "EST")	
ADJECTIVE	
BODY PART (PLURAL)	
BODY PART	
NOUN	
ANIMAL (PLURAL)	
ADJECTIVE	
ADJECTIVE	
ADJECTIVE	 
-->


