<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p>A vacation is when you take a trip to some @Model.Adjective place</p>
    <p>with your @Model.Adjective2 family. Usually you go to some place</p>
    <p>that is near a/an @Model.Noun or up on a/an @Model.Noun2. </p>
    <p>A good vacation place is one where you can ride @Model.PluralNoun </p>
    <p>or play @Model.Game or go hunting for @Model.PluralNoun2 . I like</p>
    <p>to spend my time @Model.Verbing or @Model.Verbing2.</p>
    <p>When parents go on a vacation, they spend their time eating</p>
    <p>three @Model.PluralNoun3 a day, and fathers play golf, and mothers</p>
    <p>sit around @Model.Verbing3. Last summer, my little brother</p>
    <p>fell in a/an @Model.Noun3 and got poison @Model.Plant all</p>
    <p>over his @Model.BodyPart. My family is going to go to (the)</p>
    <p> @Model.Place, and I will practice @Model.Verbing4. Parents</p>
    <p>need vacations more than kids because parents are always very</p>
    <p> @Model.Adjective3 and because they have to work @Model.Number </p>
    <p>hours every day all year making enough @Model.PluralNoun4 to pay</p>
    <p>for the vacation.</p>
  </body>
</html>